<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="premio">
            <h2><span jhiTranslate="jogueOnlineApp.premio.detail.title">Premio</span> {{ premio.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jogueOnlineApp.premio.codigo">Codigo</span></dt>
                <dd>
                    <span>{{ premio.codigo }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.premio.nome">Nome</span></dt>
                <dd>
                    <span>{{ premio.nome }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/premio', premio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
