<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aposta-heading" jhiTranslate="jogueOnlineApp.aposta.home.createOrEditLabel">Create or edit a Aposta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.numeroBilhete" for="field_numeroBilhete">Numero Bilhete</label>
                    <input type="number" class="form-control" name="numeroBilhete" id="field_numeroBilhete"
                           formControlName="numeroBilhete"/>
                    <div *ngIf="editForm.get('numeroBilhete')!.invalid && (editForm.get('numeroBilhete')!.dirty || editForm.get('numeroBilhete')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroBilhete')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numeroBilhete')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.dataAposta" for="field_dataAposta">Data Aposta</label>
                    <div class="d-flex">
                        <input id="field_dataAposta" type="datetime-local" class="form-control" name="dataAposta" formControlName="dataAposta" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataAposta')!.invalid && (editForm.get('dataAposta')!.dirty || editForm.get('dataAposta')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataAposta')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataAposta')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.loteriaCodigo" for="field_loteriaCodigo">Loteria Codigo</label>
                    <input type="number" class="form-control" name="loteriaCodigo" id="field_loteriaCodigo"
                           formControlName="loteriaCodigo"/>
                    <div *ngIf="editForm.get('loteriaCodigo')!.invalid && (editForm.get('loteriaCodigo')!.dirty || editForm.get('loteriaCodigo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loteriaCodigo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('loteriaCodigo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.modalide" for="field_modalide">Modalide</label>
                    <input type="text" class="form-control" name="modalide" id="field_modalide"
                           formControlName="modalide"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.codigoModalidade" for="field_codigoModalidade">Codigo Modalidade</label>
                    <input type="text" class="form-control" name="codigoModalidade" id="field_codigoModalidade"
                           formControlName="codigoModalidade"/>
                    <div *ngIf="editForm.get('codigoModalidade')!.invalid && (editForm.get('codigoModalidade')!.dirty || editForm.get('codigoModalidade')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoModalidade')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.premio" for="field_premio">Premio</label>
                    <input type="text" class="form-control" name="premio" id="field_premio"
                           formControlName="premio"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.codigoPremio" for="field_codigoPremio">Codigo Premio</label>
                    <input type="number" class="form-control" name="codigoPremio" id="field_codigoPremio"
                           formControlName="codigoPremio"/>
                    <div *ngIf="editForm.get('codigoPremio')!.invalid && (editForm.get('codigoPremio')!.dirty || editForm.get('codigoPremio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoPremio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('codigoPremio')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.valorJogo" for="field_valorJogo">Valor Jogo</label>
                    <input type="number" class="form-control" name="valorJogo" id="field_valorJogo"
                           formControlName="valorJogo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.codigoBanca" for="field_codigoBanca">Codigo Banca</label>
                    <input type="number" class="form-control" name="codigoBanca" id="field_codigoBanca"
                           formControlName="codigoBanca"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.numeroAposta" for="field_numeroAposta">Numero Aposta</label>
                    <input type="number" class="form-control" name="numeroAposta" id="field_numeroAposta"
                           formControlName="numeroAposta"/>
                    <div *ngIf="editForm.get('numeroAposta')!.invalid && (editForm.get('numeroAposta')!.dirty || editForm.get('numeroAposta')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroAposta')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numeroAposta')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.aposta.bilhete" for="field_bilhete">Bilhete</label>
                    <select class="form-control" id="field_bilhete" name="bilhete" formControlName="bilhete">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bilheteOption.id === editForm.get('bilhete')!.value?.id ? editForm.get('bilhete')!.value : bilheteOption" *ngFor="let bilheteOption of bilhetes; trackBy: trackById">{{ bilheteOption.numeroBilhete }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
