<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movimentacao-heading" jhiTranslate="jogueOnlineApp.movimentacao.home.createOrEditLabel">Create or edit a Movimentacao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.movimentacao.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                    <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.movimentacao.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.movimentacao.tipoMovimento" for="field_tipoMovimento">Tipo Movimento</label>
                    <select class="form-control" name="tipoMovimento" formControlName="tipoMovimento" id="field_tipoMovimento">
                        <option value="ENTRADA">{{ 'jogueOnlineApp.TipoMovimento.ENTRADA' | translate }}</option>
                        <option value="SAIDA">{{ 'jogueOnlineApp.TipoMovimento.SAIDA' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.movimentacao.saldo" for="field_saldo">Saldo</label>
                    <select class="form-control" id="field_saldo" name="saldo" formControlName="saldo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saldoOption.id === editForm.get('saldo')!.value?.id ? editForm.get('saldo')!.value : saldoOption" *ngFor="let saldoOption of saldos; trackBy: trackById">{{ saldoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
