<div>
    <h2 id="page-heading">
        <span jhiTranslate="jogueOnlineApp.bilhete.home.title">Bilhetes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bilhete" [routerLink]="['/bilhete/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jogueOnlineApp.bilhete.home.createLabel">
            Create a new Bilhete
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bilhetes?.length === 0">
        <span jhiTranslate="jogueOnlineApp.bilhete.home.notFound">No bilhetes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bilhetes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroBilhete"><span jhiTranslate="jogueOnlineApp.bilhete.numeroBilhete">Numero Bilhete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoBanca"><span jhiTranslate="jogueOnlineApp.bilhete.codigoBanca">Codigo Banca</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoLoteria"><span jhiTranslate="jogueOnlineApp.bilhete.codigoLoteria">Codigo Loteria</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="loteriaNome"><span jhiTranslate="jogueOnlineApp.bilhete.loteriaNome">Loteria Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorTotalAposta"><span jhiTranslate="jogueOnlineApp.bilhete.valorTotalAposta">Valor Total Aposta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bonusBanca"><span jhiTranslate="jogueOnlineApp.bilhete.bonusBanca">Bonus Banca</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bonusIndividual"><span jhiTranslate="jogueOnlineApp.bilhete.bonusIndividual">Bonus Individual</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comicao"><span jhiTranslate="jogueOnlineApp.bilhete.comicao">Comicao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorBilhete"><span jhiTranslate="jogueOnlineApp.bilhete.valorBilhete">Valor Bilhete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataHoraAposta"><span jhiTranslate="jogueOnlineApp.bilhete.dataHoraAposta">Data Hora Aposta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qrcode"><span jhiTranslate="jogueOnlineApp.bilhete.qrcode">Qrcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoTerminal"><span jhiTranslate="jogueOnlineApp.bilhete.codigoTerminal">Codigo Terminal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="banca.nome"><span jhiTranslate="jogueOnlineApp.bilhete.banca">Banca</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bilhete of bilhetes ;trackBy: trackId">
                    <td><a [routerLink]="['/bilhete', bilhete.id, 'view']">{{ bilhete.id }}</a></td>
                    <td>{{ bilhete.numeroBilhete }}</td>
                    <td>{{ bilhete.codigoBanca }}</td>
                    <td>{{ bilhete.codigoLoteria }}</td>
                    <td>{{ bilhete.loteriaNome }}</td>
                    <td>{{ bilhete.valorTotalAposta }}</td>
                    <td>{{ bilhete.bonusBanca }}</td>
                    <td>{{ bilhete.bonusIndividual }}</td>
                    <td>{{ bilhete.comicao }}</td>
                    <td>{{ bilhete.valorBilhete }}</td>
                    <td>{{ bilhete.dataHoraAposta | date:'medium' }}</td>
                    <td>{{ bilhete.qrcode }}</td>
                    <td>{{ bilhete.codigoTerminal }}</td>
                    <td>
                        <div *ngIf="bilhete.banca">
                            <a [routerLink]="['/banca', bilhete.banca?.id, 'view']" >{{ bilhete.banca?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bilhete', bilhete.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bilhete', bilhete.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bilhete)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bilhetes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
