<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revendedor">
            <h2><span jhiTranslate="jogueOnlineApp.revendedor.detail.title">Revendedor</span> {{ revendedor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.nome">Nome</span></dt>
                <dd>
                    <span>{{ revendedor.nome }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.cidade">Cidade</span></dt>
                <dd>
                    <span>{{ revendedor.cidade }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.estado">Estado</span></dt>
                <dd>
                    <span>{{ revendedor.estado }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ revendedor.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.tipo">Tipo</span></dt>
                <dd>
                    <span>{{ revendedor.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.tipoColetor">Tipo Coletor</span></dt>
                <dd>
                    <span>{{ revendedor.tipoColetor }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.serialColetor">Serial Coletor</span></dt>
                <dd>
                    <span>{{ revendedor.serialColetor }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.nomeComercial">Nome Comercial</span></dt>
                <dd>
                    <span>{{ revendedor.nomeComercial }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.situacao">Situacao</span></dt>
                <dd>
                    <span>{{ revendedor.situacao }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.senha">Senha</span></dt>
                <dd>
                    <span>{{ revendedor.senha }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.data">Data</span></dt>
                <dd>
                    <span>{{ revendedor.data }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.comissao">Comissao</span></dt>
                <dd>
                    <span>{{ revendedor.comissao }}</span>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.saldo">Saldo</span></dt>
                <dd>
                    <div *ngIf="revendedor.saldo">
                        <a [routerLink]="['/saldo', revendedor.saldo?.id, 'view']">{{ revendedor.saldo?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jogueOnlineApp.revendedor.promotor">Promotor</span></dt>
                <dd>
                    <div *ngIf="revendedor.promotor">
                        <a [routerLink]="['/promotor', revendedor.promotor?.id, 'view']">{{ revendedor.promotor?.nome }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revendedor', revendedor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
