<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-revendedor-heading" jhiTranslate="jogueOnlineApp.revendedor.home.createOrEditLabel">Create or edit a Revendedor</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.cidade" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                           formControlName="cidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                           formControlName="telefone"/>
                    <div *ngIf="editForm.get('telefone')!.invalid && (editForm.get('telefone')!.dirty || editForm.get('telefone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.tipo" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                           formControlName="tipo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.tipoColetor" for="field_tipoColetor">Tipo Coletor</label>
                    <input type="text" class="form-control" name="tipoColetor" id="field_tipoColetor"
                           formControlName="tipoColetor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.serialColetor" for="field_serialColetor">Serial Coletor</label>
                    <input type="text" class="form-control" name="serialColetor" id="field_serialColetor"
                           formControlName="serialColetor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.nomeComercial" for="field_nomeComercial">Nome Comercial</label>
                    <input type="text" class="form-control" name="nomeComercial" id="field_nomeComercial"
                           formControlName="nomeComercial"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.situacao" for="field_situacao">Situacao</label>
                    <input type="checkbox" class="form-control" name="situacao" id="field_situacao"
                           formControlName="situacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.saldo" for="field_saldo">Saldo</label>
                    <input type="number" class="form-control" name="saldo" id="field_saldo"
                           formControlName="saldo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.senha" for="field_senha">Senha</label>
                    <input type="text" class="form-control" name="senha" id="field_senha"
                           formControlName="senha"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.revendedor.promotor" for="field_promotor">Promotor</label>
                    <select class="form-control" id="field_promotor" name="promotor" formControlName="promotor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="promotorOption.id === editForm.get('promotor')!.value?.id ? editForm.get('promotor')!.value : promotorOption" *ngFor="let promotorOption of promotors; trackBy: trackById">{{ promotorOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
