<nav *jhiHasAnyAuthority="'ROLE_USER'" class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Jogue Online</span>
<!--        <span class="navbar-version">{{ version }}</span>-->
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul *jhiHasAnyAuthority="'ROLE_USER'" class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li  *jhiHasAnyAuthority="'ROLE_OPERADOR'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="cadastro-menu">
                    <span>
                        <fa-icon icon="tasks"></fa-icon>
                        <span>
                            Cadastro
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >AE Ajuste de Odds Região</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Feriados</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Promotor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Revendedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Serial dos Terminais</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Supervisor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Terminal</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li  *jhiHasAnyAuthority="'ROLE_BANCA'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="consultas-menu">
                    <span>
                        <fa-icon icon="tasks"></fa-icon>
                        <span>
                            Consultas
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Cotações</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Movimentação Raspadinha</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Pré-Descarga Banca</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Senha Emissão de Caixa</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Transmissões</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li  *jhiHasAnyAuthority="'ROLE_OPERADOR'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="lancamentos-menu">
                    <span>
                        <fa-icon icon="tasks"></fa-icon>
                        <span>
                            Lançamentos
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Caixa Crédito</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Caixa Débito</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Cancelamentos</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Despesas Administrativas</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Pré-Caixa</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span >Resultados</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li  *jhiHasAnyAuthority="'ROLE_OPERADOR'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="relatorio-menu">
                    <span>
                        <fa-icon icon="tasks"></fa-icon>
                        <span>
                            Relatório
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    <li>
                        <a class="dropdown-item" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span >Descarga da Banca</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li  *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="banca" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.banca">Banca</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="promotor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.promotor">Promotor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="revendedor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.revendedor">Revendedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="terminal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.terminal">Terminal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="modalidade" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.modalidade">Modalidade</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="premio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.premio">Premio</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="loteria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.loteria">Loteria</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="dias-funcionamento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.diasFuncionamento">Dias Funcionamento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="aposta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.aposta">Aposta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="limite-venda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.limiteVenda">Limite Venda</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="custom-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.customUser">Custom User</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bilhete" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.bilhete">Bilhete</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
