<div>
    <h2 id="page-heading">
        <span jhiTranslate="jogueOnlineApp.terminal.home.title">Terminals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-terminal" [routerLink]="['/terminal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jogueOnlineApp.terminal.home.createLabel">
            Create a new Terminal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="terminals?.length === 0">
        <span jhiTranslate="jogueOnlineApp.terminal.home.notFound">No terminals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="terminals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.telefoneChipe">Telefone Chipe</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.serial">Serial</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.menssagem">Menssagem</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.senhaComunicacao">Senha Comunicacao</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.dataInicio">Data Inicio</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.situacao">Situacao</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.versaoTerminal">Versao Terminal</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.mudaCodigo">Muda Codigo</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.dataEntrada">Data Entrada</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.numeroFonte">Numero Fonte</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.codigoAutorizacao">Codigo Autorizacao</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.imei">Imei</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.codigoBanca">Codigo Banca</span></th>
                    <th scope="col" ><span jhiTranslate="jogueOnlineApp.terminal.revendedor">Revendedor</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terminal of terminals ;trackBy: trackId">
                    <td><a [routerLink]="['/terminal', terminal.id, 'view']">{{ terminal.id }}</a></td>
                    <td>{{ terminal.telefoneChipe }}</td>
                    <td>{{ terminal.serial }}</td>
                    <td>{{ terminal.menssagem }}</td>
                    <td>{{ terminal.senhaComunicacao }}</td>
                    <td>{{ terminal.dataInicio | date:'medium' }}</td>
                    <td>{{ terminal.situacao }}</td>
                    <td>{{ terminal.versaoTerminal }}</td>
                    <td>{{ terminal.mudaCodigo }}</td>
                    <td>{{ terminal.dataEntrada | date:'medium' }}</td>
                    <td>{{ terminal.numeroFonte }}</td>
                    <td>{{ terminal.codigoAutorizacao }}</td>
                    <td>{{ terminal.imei }}</td>
                    <td>{{ terminal.email }}</td>
                    <td>{{ terminal.codigoBanca }}</td>
                    <td>
                        <div *ngIf="terminal.revendedor">
                            <a [routerLink]="['/revendedor', terminal.revendedor?.id, 'view']" >{{ terminal.revendedor?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/terminal', terminal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/terminal', terminal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(terminal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
