<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-terminal-heading" jhiTranslate="jogueOnlineApp.terminal.home.createOrEditLabel">Create or edit a Terminal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.telefoneChipe" for="field_telefoneChipe">Telefone Chipe</label>
                    <input type="number" class="form-control" name="telefoneChipe" id="field_telefoneChipe"
                           formControlName="telefoneChipe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.serial" for="field_serial">Serial</label>
                    <input type="text" class="form-control" name="serial" id="field_serial"
                           formControlName="serial"/>
                    <div *ngIf="editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serial')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.menssagem" for="field_menssagem">Menssagem</label>
                    <input type="text" class="form-control" name="menssagem" id="field_menssagem"
                           formControlName="menssagem"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.senhaComunicacao" for="field_senhaComunicacao">Senha Comunicacao</label>
                    <input type="text" class="form-control" name="senhaComunicacao" id="field_senhaComunicacao"
                           formControlName="senhaComunicacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="d-flex">
                        <input id="field_dataInicio" type="datetime-local" class="form-control" name="dataInicio" formControlName="dataInicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.situacao" for="field_situacao">Situacao</label>
                    <input type="checkbox" class="form-control" name="situacao" id="field_situacao"
                           formControlName="situacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.versaoTerminal" for="field_versaoTerminal">Versao Terminal</label>
                    <input type="text" class="form-control" name="versaoTerminal" id="field_versaoTerminal"
                           formControlName="versaoTerminal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.mudaCodigo" for="field_mudaCodigo">Muda Codigo</label>
                    <input type="number" class="form-control" name="mudaCodigo" id="field_mudaCodigo"
                           formControlName="mudaCodigo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.dataEntrada" for="field_dataEntrada">Data Entrada</label>
                    <div class="d-flex">
                        <input id="field_dataEntrada" type="datetime-local" class="form-control" name="dataEntrada" formControlName="dataEntrada" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.numeroFonte" for="field_numeroFonte">Numero Fonte</label>
                    <input type="number" class="form-control" name="numeroFonte" id="field_numeroFonte"
                           formControlName="numeroFonte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.codigoAutorizacao" for="field_codigoAutorizacao">Codigo Autorizacao</label>
                    <input type="number" class="form-control" name="codigoAutorizacao" id="field_codigoAutorizacao"
                           formControlName="codigoAutorizacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.imei" for="field_imei">Imei</label>
                    <input type="text" class="form-control" name="imei" id="field_imei"
                           formControlName="imei"/>
                    <div *ngIf="editForm.get('imei')!.invalid && (editForm.get('imei')!.dirty || editForm.get('imei')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imei')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.codigoBanca" for="field_codigoBanca">Codigo Banca</label>
                    <input type="number" class="form-control" name="codigoBanca" id="field_codigoBanca"
                           formControlName="codigoBanca"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jogueOnlineApp.terminal.revendedor" for="field_revendedor">Revendedor</label>
                    <select class="form-control" id="field_revendedor" name="revendedor" formControlName="revendedor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="revendedorOption.id === editForm.get('revendedor')!.value?.id ? editForm.get('revendedor')!.value : revendedorOption" *ngFor="let revendedorOption of revendedors; trackBy: trackById">{{ revendedorOption.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
